ul{
    display: flex;
    flex-wrap: wrap;
}
.book{
    list-style: none;
    width: 25%;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}

.book-img{
    width: 100px;
    height: 150px;
    border-radius: 8%;
}
